
body{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.todo__wrraper{
    width: 400px;
    min-height:500px ;
    border:1px solid rgba(192, 192, 192,1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.todo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.todo__container__text{
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.active__input{
    border-bottom: 2px solid red;
}

.todo__container__text:focus{
    outline: none;
}
.todo__container__text::placeholder{
    font-size: 15px;
}

.todo__container__submit{
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius:3px ;
    margin-top: 5px;
}


.todo__list{
    width: 300px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
    padding-right: 30px;
}


.todo__link{
    width: 300px;
    height: 30px; 
    display: flex;
    padding: 5px;
    border-radius:5px;
    border: 1px solid rgb(161, 161, 161);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 300ms linear;
}

.todo__link:hover{
    transform: translateY(-8px);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.todo__delete{
    width: 30px;
    height: 30px;
    background-image: url(./images/delete.png);
    padding: 5px;
    background-color:transparent;
    border: none;
    border-radius:5px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 200ms linear;
    cursor: pointer;
}

.todo__delete:hover{
    background-color: #F0F0F0;
}

.text{
    font-size: 20px;
    margin-left: 20px;
}

.active{
    color: rgb(158, 156, 156);
}